<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content,
                    pageTitle,
                    pageCss
                    )">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${pageTitle}">GenVibe</title>

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{'/css/' + ${pageCss}}">

    <script th:src="@{/js/main.js}"></script>
</head>

<body>

    <aside th:replace="fragments/navbar :: navbar"></aside>

    <main th:insert="${content}"></main>

</body>
</html>
