<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content,
                    pageTitle,
                    pageCss
                    )">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${pageTitle}">GenVibe</title>

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{'/css/' + ${pageCss}}">

    <script th:src="@{/js/main.js}"></script>
</head>

<body>

    <aside th:replace="fragments/sidebar :: sidebar"></aside>

    <main th:insert="${content}"></main>

    <form th:action="@{/auth/logout}" method="post" style="display: inline;">
        <button type="submit" class="logout-btn">Logout</button>
    </form>

</body>
</html>
