.step-content {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 460px;
    height: auto;
    gap: 32px;
    margin: auto 56px;
}
.title-content h1{
    margin-bottom: 12px;
}
.chips {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.chip {
    position: relative;
    cursor: pointer;
}

.chip input {
    display: none;
}

.chip span {
    display: inline-block;
    padding: 10px 24px;
    border-radius: 999px;
    border: 1px solid #00000033;
    background: #FFFFFF66;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.2s;
    color: #00000080;
}

.chip input:checked + span {
    background: #000;
    color: #fff;
    border-color: #000;
    font-family: 'Inter', sans-serif; !important;
    font-size: 18px;
    font-weight: 400;
}

.chip.full span {
    width: 100%;
    text-align: center;
}

.sub-chips {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.chip.small span {
    font-size: 12px;
    padding: 8px 14px;
}

hr {
    border: none;
    border-top: 1px solid #00000033;
    margin: 32px 0;
}
