.welcome-content {
    width: 425px
}
.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}
.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}
.btn-primary{
    margin-top: 16px;
    height: 54px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
