.subtitle {
    color: #00000080;
    font-size: 18px;
    margin-top: -23px;
    margin-bottom: 40px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    border-radius: 24px;
    padding: 16px;
    background: #FFFFFF66;
    backdrop-filter: blur(40px);
    box-shadow:
            0 1px 1px rgba(255, 255, 255, 0.25),
            0 -1px 1px rgba(255, 255, 255, 0.05),
            0 8px 6px rgba(0, 0, 0, 0.05);
    border-top: 2px solid rgba(255, 255, 255, 0.4);
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-icon {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 24px;
    height: 24px;
    padding: 4px;
}

.card-status {
    font-weight: 500;
    font-size: 12px;
    color: #00000080;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.card-header h3 {
    padding: 0;
    margin: 0;
}
.card-header p {
    font-size: 14px;
}

/* Кнопки внутри карточек */
.btn-action {
    display: block;
    width: auto;
    padding: 15px auto;
    line-height: 54px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s;
    border: 1px solid #00000033;
    cursor: pointer;
    color: #00000033;
}
.btn-action:hover,
.btn-action.active{
    background: #000000;
    color: #FFFFFF;
}
.logout-link{
    font-family: 'Inter', sans-serif;
    font-weight: 400; !important;
    font-size: 14px;
}