.page-header-meta {
    margin-top: -85px;
    margin-bottom: 40px;
    position: relative;
}

.subtitle {
    margin-left: 40px;
}

.empty-state-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 356px;

    border-top: 1.5px solid transparent;
    background: linear-gradient(
            90deg,
            rgba(213, 225, 255, 0.2) 0%,
            rgba(246, 128, 132, 0.2) 100%
    );
}

.empty-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.card-icon svg path{
    fill: #00000029;
}

.empty-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.empty-icon p{
    font-size: 14px;
}
.stores-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

.store-card {
    background: #fff;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

.store-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.status-badge {
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 600;
}

.status-badge.active { background: #e6f7ed; color: #2ecc71; }
.status-badge.inactive { background: #fff4e6; color: #f39c12; }

.store-details p {
    font-size: 0.9rem;
    color: var(--text-muted);
    margin: 5px 0;
}

.btn-add-large {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 14px 16px;
    cursor: pointer;
    gap: 8px;
}
.btn-title {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}
.plus {
    margin-right: 8px;
}
.btn-activate, .btn-view {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    background: #fff;
    cursor: pointer;
    margin-top: 15px;
}

.activation-hint { font-size: 0.8rem; color: #aaa; margin-top: 15px; }

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin: 40px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header h2{
    font-weight: 400;
    font-size: 32px;
    letter-spacing: -1px;
}
.close {
    display: flex;
    justify-content: end;
}
