<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/onboarding :: layout(~{::content}, 'Create Account', 'register.css')}">

<th:block th:fragment="content">
    <div class="register-content">
        <h1>Welcome to Resona AI</h1>

        <form method="post" th:action="@{/users}">

            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required>
            </div>

            <div class="form-group password-wrapper">
                <input type="password" name="password" placeholder="Password" required>
                <span class="toggle-password">👁</span>
            </div>

            <div class="form-group password-wrapper">
                <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
                <span class="toggle-password">👁</span>
            </div>

            <button class="btn-primary" type="submit">Create Account</button>
        </form>
    </div>
</th:block>
</html>